@import './asciidoctor.css';

a.external::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

a.block-num,
a.example-title-link,
a.table-caption-link,
a.listing-caption-link {
  text-decoration: none;
}

.xref-block-num {
  margin-left: 3px;
}
